.menuHamburguer {
    display: none;
    color: var(--primary-color);
}

.menuHamburguerStack {
    padding-right: 2em;
    padding-bottom: 0.5em;
}

.menuHamburguerCredentials {
    display:flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.menuHamburguerCredentials p {
    margin: 0;
    font-size: 12px;
    color: var(--primary-color);
    text-transform: capitalize;
}

@media (max-width: 699px) {

    .menuHamburguer {
        display: contents;
        position: relative;
    }

    .menuHamburguerIcon {
        cursor: pointer;
        margin-top: 12px;
        z-index: 1;
        margin-right: 12px;
    }

    .menuHamburguerTrasitionActive {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
    }

    .menuHamburguerTrasitionActiveMotion {
        background-color: var(--primary-color);
        padding: 2px;
    }

    .menuHamburguerTrasitionActiveTitile {
        display: grid;
        justify-content: end;
    }

    .menuHamburguerTrasitionActiveTitile div p {
        color: #fff;
        padding: 5px;
        padding-right: 22px;
        font-size: 16px;
    }

    .menuHamburguerUl {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-top: 1em;
        padding-right: 2em;
        z-index: 1;
        width: 100%;
        background-color: #fff;
    }

    .menuHamburguerUlLI {
        color: var(--primary-color);
        font-size: 16px;
        font: (--main-font);
    }

    .menuHamburguerUlLI:hover {
        text-decoration: none;
        color: var(--secondary-color);
        background-color: var(--primary-color);
        padding: 2px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
        border-radius: 25px;
        font: (--main-font);
    }
}
